@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('http://fonts.cdnfonts.com/css/freestyle-script');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://allfont.net/allfont.css?fonts=haettenschweiler');

body {
    font-family: 'Poppins';
    font-weight: 400;
}

.page-welcome header {
    display: flex;
    justify-content: space-around;
    background-color: #0E0C38;
    padding-bottom: 64px;
}

.page-welcome header>a {
    font-size: 116px;
    font-family: 'Freestyle Script', sans-serif;
    font-weight: 400;
    margin: 10px 0 0 85px;
    color: white;
    text-decoration: none;
}

.web-menu {
    margin-top: 75px;
}

.web-menu ul {
    display: flex;
    justify-content: space-around;
}

.web-menu ul a {
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.menu-hover a {
    padding: 70px 30px 30px;
}

.menu-hover a:hover {
    background-color: #FF0513;
}

.menu-hover a:hover + .menu-red-line {
    border: 1px solid #FF0513;
    margin-top: 40px;
}

.start a {
    font-family: 'Raleway';
    padding: 26px 45px;
    border: 1px solid white;
    border-radius: 45px;
}


.bio-wrapper {
    background-color: #0E0C38;
}

.bio {
    margin-left: 85px;
    width: 780px;
    display: inline-block;
}

.bio-info {
    color: white;
    margin-bottom: 30px;
}

.bio h2:first-child {
    font-size: 41px;
    font-weight: 300;
}

.bio-info h2:nth-of-type(2){
    font-size: 150px;
    font-weight: bold;
}

.bio-info p:nth-of-type(1) {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 40px;
}

.bio-info p:nth-of-type(2) {
    font-size: 30px;
    font-weight: 500;
}

.bio-info a {
    color: red;
    text-decoration: none;
}

.social-contact {
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.social-buttons {
    width: 590px;
}

.social-buttons button {
    font-family: 'Raleway';
    font-size: 30px;
    padding: 40px 70px;
    border-radius: 60px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-right: 25px;
}

.social-buttons button:hover {
    background-color: #FF0513;
    border-color: #FF0513;
}

.back-circle {
    width: 575px;
    height: 530px;
    background-color: #142963;
    opacity: 0.2;
    position: absolute;
    border-radius: 100%;
    left: -210px;
    top: 355px;
}

.bio-pic {
    display: inline-block;
    vertical-align: top;
}

.bio-pic>div {
    display: inline-block;
}

.pic-chooser {
    text-align: center;
    vertical-align: bottom;
}

.pic-chooser a {
    font-size: 20px;
    font-weight: 500;
    color: #8D8D8D;
    text-decoration: none;
    margin-bottom: 10px;
    border-bottom: 2px solid #707070;
}

.pic-chooser a:hover {
    color: white;
}

.pic-chooser ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 150px;
    margin-bottom: 10px;
}

.about-author {
    background-color: #040221;
    padding: 200px 85px 100px;
    color: white;
    display: flex;
}

.about-author>div {
    display: inline-block;
}

.about-cv {
    width: 55%;
    margin-top: 150px;
    position: relative;
}

.about-cv h2 {
    font-size: 60px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 100px;
}

.about-cv p {
    font-size: 24px;
    font-weight: 300;
    line-height: 55px;
}

.about-cv p:nth-of-type(1) {
    margin-bottom: 85px;
}

.about-cv button {
    margin-top: 170px;
    padding: 35px 60px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
}

.about-author-pics {
    vertical-align: middle;
    padding: 70px 65px;
    background-color: #0E0C38;
    position: relative;
}

.about-author-pics img:nth-of-type(1) {
    display: block;
}

.about-author-pics img:nth-of-type(2) {
    position: absolute;
    bottom: -100px;
    left: -100px;
}

.red-line {
    width: 345px;
    height: 1px;
    background-color: red;
    display: inline-block;
    vertical-align: top;
    margin: 40px 0 0 240px;
}

.about-cv img {
    position: absolute;
    left: -85px;
    top: -100px;
}

.portfolio {
    background-color: #040221;
    padding: 75px 85px 175px 85px;
}

.portfolio-menu-wrapper {
    margin-bottom: 130px;
}

.portfolio-title h2 {
    font-size: 50px;
    font-weight: 300;
    color: white;
    display: inline-block;
}

.portfolio-title .red-line {
    margin-left: 40px;
    vertical-align: super;
}

.portfolio-title {
    display: inline-block;
}

.portfolio-buttons {
    float: right;
}

.slider-btn {
    width: 15px;
    height: 15px;
    margin: 0 auto;
    transform: rotate(-45deg);
}

.left {
    border-left: 3px solid white;
    border-top: 3px solid white;
}

.right {
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}

.portfolio-buttons button {
    font-size: 30px;
    width: 102px;
    height: 102px;
    border-radius: 100%;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

.portfolio-buttons button:hover {
    background: #FF0513;
    border-color: #FF0513;
}

.portfolio-buttons button:first-of-type{
    margin-right: 15px;
}

.portfolio-menu ul {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.portfolio-menu ul li a {
    color: white;
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
    margin-right: 45px;
}

.portfolio-menu ul li a:hover {
    color: #FF0513;
}

.portfolio-projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio-projects img + .project-cover {
    background-color: rgba(255, 5, 19, 0);
    display: block;
    width: 505px;
    height: 510px;
    border-radius: 40px;
}

.single-project {
    position: relative;
    margin-bottom: 108px;
}

.project-cover {
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.5s;
}

.project-cover-title {
    position: absolute;
    bottom: 40px;
    display: none;
}

.white-line {
    display: inline-block;
    width: 50px;
    border: 1px solid white;
}

.cover-text {
    display: inline-block;
    vertical-align: text-top;
    color: white;
    width: 280px;
}

.cover-text h2 {
    font-size: 44px;
    font-weight: 600;
}

.cover-text p {
    font-size: 25px;
    font-weight: 300;
}

.portfolio-projects .single-project .project-cover:hover {
    background-color: rgba(255, 5, 19, 0.7);
}

.portfolio-projects .single-project .project-cover:hover .project-cover-title{
    display: block;
}

.author-abilities {
    background-color: #0E0C38;
    padding: 112px 180px 265px;
}

.abilities-title {
    text-align: center;
    color: white;
}

.abilities-title h2 {
    font-size: 60px;
    font-weight: 600;
}

.diff {
    margin: 45px 0;
}

.abilities-title p {
    font-size: 30px;
    font-weight: 300;
    line-height: 55px;
}

.abilities-pictures {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 170px 0 0;
}

.single-picture {
    text-align: center;
    margin: 80px 70px;
    color: white;
    width: 350px;
}

.single-picture h3 {
    font-size: 35px;
    font-weight: 500;
    margin-top: 20px;
}

.single-picture p {
    font-size: 22px;
    font-weight: 300;
    line-height: 44px;
}

.costumers-comments {
    background: #040221;
    padding: 120px 160px 150px 40px;
}

.comments-title {
    text-align: center;
    color: white;
    width: 91%;
    margin: 0 auto 140px;
}

.comments-title h2 {
    font-size: 60px;
    font-weight: 600;
}

.comments-title p {
    font-size: 30px;
    font-weight: 300;
    line-height: 55px;
}

.comment-text {
    display: inline-block;
    color: white;
    width: 46%;
    vertical-align: top;
    margin-left: 105px;
}

.comment-text p {
    font-size: 30px;
    font-weight: 300;
    line-height: 55px;
}

.comment-text span {
    font-family: 'Haettenschweiler', arial;
    font-size: 200px;
    font-weight: 400;
    color: #FF0513;
}

.coop-working {
    background-color: #040B33;
    margin: 0 auto;
    color: white;
    text-align: center;
}

.coop-working-title {
    width: 48%;
    margin: 0 auto 90px;
}

.coop-working-title h2 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 33px;
}

.coop-working-title p {
    font-size: 20px;
    font-weight: 300;
    line-height: 55px;
}

.vertical {
    width: 1px;
    height: 187px;
    background-color: red;
    display: inline-block;
    margin: 0px 0 48px;
}

.registration form {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 25px;
}

.registration form input, select {
    width: 45%;
    height: 90px;
    display: inline-block;
    margin-bottom: 50px;
    color: #707070;
}

.registration form textarea {
    width: 100%;
    height: 170px;
    padding: 27px 0 0 25px;
    margin-bottom: 90px;
    height: 195px;
    resize: none;

}

.registration form select {
    width: 45.6%;
}

.registration button {
    font-size: 30px;
    font-weight: 500;
    color: white;
    height: 100px;
    width: 280px;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid white;
    margin-bottom: 140px;
}

.registration button:hover {
    background-color: #FF0513;
    border-color: #FF0513;
}

.main-footer {
    background-color: #040221;
    text-align: center;
    color: white;
    padding-bottom: 60px;
}

.main-footer h2 {
    font-family: 'Freestyle Script', sans-serif;
    font-size: 95px;
    font-weight: 500;
    margin-bottom: 46px;
}

.second {
    height: 83px;
    margin: 0 0 23px;
}

.footer-menu-address {
    width: 500px;
    margin: 0 auto 69px;
    font-size: 20px;
    font-weight: 500;
}

.footer-menu-address ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 250px;
    margin: 0 auto 25px;
}

.footer-menu-address ul a {
    text-decoration: none;
    color: white;
}

.footer-address p {
    display: inline-block;
}

.footer-social-icons {
    width: 300px;
    margin: 0 auto 90px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.grey-line {
    width: 100%;
    border: 1px solid #707070;
    margin-bottom: 54px;
}

.copy-rights {
    font-size: 20px;
    font-weight: 400;
}
