@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('http://fonts.cdnfonts.com/css/freestyle-script');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins';
    font-weight: 400;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #0E0C38;
    padding-bottom: 64px;
}

header h1 {
    font-size: 116px;
    font-family: 'Freestyle Script', sans-serif;
    font-weight: 400;
    margin: 10px 0 0 85px;
    color: white;
}

header img {
    width: 590px;
    height: 263px;
}

/* header nav ul {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}

header nav ul li {
    width: 123px;
    height: 117px;
    background-color: red;
    margin: 1px;
} */

/* 
header nav ul li a {
    margin: 0 auto;
} */

.web-menu {
    width: 650px;
    margin-top: 75px;
}

.web-menu ul {
    display: flex;
    justify-content: space-around;
}

.web-menu ul a {
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.menu-hover a {
    padding: 70px 30px 30px;
}

.menu-hover a:hover {
    background-color: #FF0513;
}

.start a {
    font-family: 'Raleway';
    padding: 26px 45px;
    border: 1px solid white;
    border-radius: 45px;
}

.red-line {
    width: auto;
    height: 1px;
    background-color: red;
    margin-top: 40px;
}

.bio-wrapper {
    background-color: #0E0C38;
}

.bio {
    margin-left: 85px;
    width: 780px;
    display: inline-block;
}

.bio-info {
    color: white;
    margin-bottom: 30px;
}

.bio h2:first-child {
    font-size: 41px;
    font-weight: 300;
}

.bio-info h2:nth-of-type(2){
    font-size: 150px;
    font-weight: bold;
}

.bio-info p:nth-of-type(1) {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 40px;
}

.bio-info p:nth-of-type(2) {
    font-size: 30px;
    font-weight: 500;
}

.bio-info a {
    color: red;
    text-decoration: none;
}

.social-contact {
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.social-buttons {
    width: 590px;
}

.social-buttons button {
    font-family: 'Raleway';
    font-size: 30px;
    padding: 40px 70px;
    border-radius: 60px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-right: 25px;
}

.social-buttons button:hover {
    background-color: #FF0513;
    border-color: #FF0513;
}

.back-circle {
    width: 575px;
    height: 530px;
    background-color: #142963;
    opacity: 0.2;
    position: absolute;
    border-radius: 100%;
    left: -210px;
    top: 355px;
}

.bio-pic {
    display: inline-block;
    vertical-align: top;
}

.bio-pic>div {
    display: inline-block;
}

.pic-chooser {
    text-align: center;
    vertical-align: bottom;
}

.pic-chooser a {
    font-size: 20px;
    font-weight: 500;
    color: #8D8D8D;
    text-decoration: none;
    margin-bottom: 10px;
    border-bottom: 5px solid #707070;
}

.pic-chooser ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 150px;
    margin-bottom: 10px;
}

.about-author {
    background-color: #040221;
    padding: 200px 0 0 85px;
    color: white;
}

.about-author>div {
    display: inline-block;
}

.about-cv {
    width: 31%;
}
